@page "/weather"
@using BlazorTest.Data
@inject WeatherForecastService ForecastService

<PageTitle>Weather Forecast</PageTitle>

<MudText Typo="Typo.h1" Style="text-decoration:blink" Color="Color.Primary">WEATHER FORECAST</MudText>
<MudDivider Class="my-2"></MudDivider>
<MudText Typo="Typo.h5" Color="Color.Secondary">This component demonstrates fetching data from a service:</MudText>


@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <MudTable Items="@forecasts" Hover="true" Square="false" Elevation="2" Dense="true">
        <HeaderContent>
            <MudTh Style="color:GrayText">Date</MudTh>
            <MudTh Style="color:GrayText">Temperature in Celsius</MudTh>
            <MudTh Style="color:GrayText">Temperature in Fahrenheit</MudTh>
            <MudTh Style="color:GrayText">Summary</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Date">@context.Date</MudTd>
            <MudTd DataLabel="Temperature in Celsius" >@context.TemperatureC</MudTd>
            <MudTd DataLabel="Temperature in Fahrenheit">@context.TemperatureF</MudTd>
            <MudTd DataLabel="Summary">@context.Summary</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{50, 100, 500}" />
        </PagerContent>
    </MudTable>
}


<PageTitle>Weather Forecast</PageTitle>



@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}

