@page "/weather"
@using BlazorTest.Data
@inject WeatherForecastService ForecastService

<<<<<<< HEAD
<PageTitle>Weather Forecast</PageTitle>

<MudText Typo="Typo.h1" Style="text-decoration:blink" Color="Color.Primary">WEATHER FORECAST</MudText>
<MudDivider Class="my-2"></MudDivider>
<MudText Typo="Typo.h5" Color="Color.Secondary">This component demonstrates fetching data from a service:</MudText>


@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <MudTable Items="@forecasts" Hover="true" Square="false" Elevation="2" Dense="true">
        <HeaderContent>
            <MudTh Style="color:GrayText">Date</MudTh>
            <MudTh Style="color:GrayText">Temperature in Celsius</MudTh>
            <MudTh Style="color:GrayText">Temperature in Fahrenheit</MudTh>
            <MudTh Style="color:GrayText">Summary</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Date">@context.Date</MudTd>
            <MudTd DataLabel="Temperature in Celsius" >@context.TemperatureC</MudTd>
            <MudTd DataLabel="Temperature in Fahrenheit">@context.TemperatureF</MudTd>
            <MudTd DataLabel="Summary">@context.Summary</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{50, 100, 500}" />
        </PagerContent>
    </MudTable>
}
=======


<PageTitle>Weather Forecast</PageTitle>

<div>


    <MudDivider Class="d-inline" Typo="Typo.h1" Align="Align.Left" Color="Color.Primary">WEATHER FORECAST</MudDivider>
    <MudDivider Class="d-inline" Typo="Typo.h5" Color="Color.Secondary" Align="Align.Left">This component demonstrates fetching data from a service:</MudDivider>

    @if (forecasts == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {

        <MudTable Class="d-inline" Items="@forecasts" Hover="true" Square="false" Elevation="2" Dense="true">
            <HeaderContent>
                <MudTh Style="color:GrayText">Date</MudTh>
                <MudTh Style="color:GrayText">Temperature in Celsius</MudTh>
                <MudTh Style="color:GrayText">Temperature in Fahrenheit</MudTh>
                <MudTh Style="color:GrayText">Summary</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Date">@context.Date</MudTd>
                <MudTd DataLabel="Temperature in Celsius">@context.TemperatureC</MudTd>
                <MudTd DataLabel="Temperature in Fahrenheit">@context.TemperatureF</MudTd>
                <MudTd DataLabel="Summary">@context.Summary</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[]{50, 100, 500}" />
            </PagerContent>
        </MudTable>
    }
</div>

>>>>>>> d96c229193e3fd9d969850aafc182d7650d53470

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}

